@charset "UTF-8"

form {
    width: 1000px;
    margin: auto;
}

input {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    /*width: 30%;*/
}

.input-enviar{
    position: relative;
    left: 420px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
}

.input-usuario{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    width: 30%;
}
.input-usuario1{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12pt;
    width: 18%;
}

legend {
    color:#888888;
    font-size: 13pt;
    font-family: sans-serif;
}

fieldset {
    border-color: #cecece;
    margin: 20px;
}

fieldset#sexo {
    width: 150px;
}

fieldset#usuario {
    background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco {
    background: url("../_imagens/icone-endereco.pngsss") no-repeat 95% 95%;
}


